.basic-course-header {
    position: relative;
    padding: 1rem;
    background-color: #f8f8f8;
    z-index: 1;
}

.basic-course-header>div {
    display: flex;
}

.basic-course-header-img {
    max-width: 40%;
    padding: 1rem;
}

.basic-course-header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.7;
    padding: 1rem;
}

.basic-course-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.basic-course-owner,
.basic-updated {
    color: #6a6f73;
    font-size: 0.8rem;
}

.basic-course-owner a,
.basic-course-owner a:visited {
    color: #6a6f73;
    font-weight: 700;
}

.basic-course-owner span,
.basic-updated span {
    font-weight: 700;
}




/* project-preview */

.project-preview {
    padding: 2rem 0;
    line-height: 1.7;
}

.project-preview h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.project-preview p {
    color: #6a6f73;
    padding: 0.5rem 0;
}

.videos {
    display: flex;
    justify-content: space-between;
}

.video {
    width: 45%;
}


/* basic-course-nav */


.course-nav {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    box-shadow: 0 0px 3px 0px black;
    position: relative;
    z-index: 1;
}

.course-nav-link {
    padding: 2rem 0;
    cursor: pointer;
}

.active {
    font-weight: 700;
}

/* course-main */

.course-main {
    margin: 2rem 0;
}

.basic-main-info {
    margin: 0 auto 10rem auto;
    width: 80%;
    line-height: 1.7;
}

.basic-main-info h1 {
    margin-bottom: 1rem;
}



/* dropdown */
.course-navbar-dropdown {
    display: none;
}

.dropdown-active {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0px 3px 0px black;
    position: relative;
    z-index: 1;
}

.course-nav-dropdown div {
    padding: 0.8rem 1rem;
}