.home-background {
    height: max-content;
    background-image: url("../../images/home_image.png");
    background-position: center;
    background-size: 100%;
}

@media (max-width: 800px) {
  .home-background {
    background-size: cover;
    padding:150px 0;
  }
}

.introduction-texts {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 250px 0;
}

.introduction-texts>div {
    width: 50%;
    position: relative;
    left: 50%;
}
