.home-background {
    height: max-content;
    background-image: url("../../images/home_image.png");
    background-position: center;
    background-size: 100%;
}



.introduction-texts {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 250px 0;
}

.introduction-texts>div {
    width: 50%;
    position: relative;
    left: 50%;
}

/* Screen width less than 800px */
@media (max-width: 800px) {
  .home-background {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

/* Screen width less than 600px */
@media (max-width: 600px) {
  .introduction-texts {
    font-size: 1.8rem;
  }
}

/* Screen width less than 400px */
@media (max-width: 400px) {
  .introduction-texts {
    font-size: 1.2rem;
  }
}
