.contact {
    text-align: center;
    box-shadow: 0 0px 10px 0px black;
}

.contact-div {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--color-primary);
    line-height: 2.3;

}

.questions {
    font-weight: 500;
    font-size: 3rem;
    color: var(--color-dark)
}

.contact-me {
    font-weight: 300;
    color: var(--color-dark);
}

.contact-me-links {
    color: var(--color-dark);
    margin: 1rem;

}

.contact-me-links>a {
    margin: 1rem;
    color: var(--color-dark);
}

.contact-me-links>a:visited {
    color: var(--color-dark);
}