.navbar {
    position: relative;
    color: var(--color-dark);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 0px 10px 0px black;
    z-index: 2;
}

.nav-link:visited {
    color: var(--color-dark);
}

.nav {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 70px;
    align-items: center;
}



.nav-link {
    padding: 1rem;
    margin: 0 1rem;
    color: var(--color-dark);
}