@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;500;600;700&family=Kanit:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    width: 100%;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #fff;
    --color-primary: #e8b4cd;
    --color-primary-a: #f4d9e6;
    --color-dark-variant: #ff0000;
    --color-dark: #bd536c;

    --transition: all 400ms ease-in-out;

    --container-width-lg: 60%;
    --container-width-md: 85%;
    --container-width-sm: 95%;
}

html {
    scroll-behavior: smooth;
}



.container {
    width: var(--container-width-lg);
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

@media only screen and (max-width:1600px) {
    .container {
        width: 70%;
    }
}

@media only screen and (max-width:1500px) {
    .nora-logo {
        width: 30%;
    }

    .introduction-texts {
        left: 38%;
    }

}

@media only screen and (max-width:1400px) {
    .home-background {
        height: 500px;
    }

    .nora-logo {
        left: 26%;
    }

    .introduction-texts {
        left: 35%;
    }

    /* course-section */


    /* basic-course */
    .basic-course-header-info {
        line-height: 1.7;
    }

    .basic-course-title {
        font-size: 1.6rem;
    }



    .basic-course-header-img {
        padding: 0.5rem;
    }

    .basic-course-header-info {
        padding: 0.5rem;
    }

}

@media only screen and (max-width:1300px) {



    .introduction-texts {
        font-size: 2.5rem;
        width: 65%;
    }

    .home-background {
        height: 450px;
    }

    /* course-section */

    /* contact-section */
    .questions {
        font-size: 2.5rem;
    }

    /* preview-course */

    .preview-course {
        width: 40%;
    }


}

@media only screen and (max-width:1200px) {
    /* course-section */

    /* basic-course */

    .basic-course-intro,
    .basic-course-price {
        font-size: 0.9rem;
    }

    .basic-course-owner,
    .basic-updated {
        font-size: 0.7rem;
    }

    /* nav */

    .navbar {
        font-size: 1.2rem;
    }

    .search-bar input {
        height: 30px;
        padding: 0.5rem;
    }

    .nav-img img {
        width: 130px;
    }

    .nav {
        padding: 0 2rem;
    }

    .search-bar {
        margin-top: 0.3rem;
    }


}

@media only screen and (max-width:1100px) {

    .nora-logo {
        width: 32%;
    }

    .home-background {
        height: 400px;
    }

    /* navbar */


    /* course-section */

    /* basic-course */

    .basic-course-title {
        font-size: 1.4rem;
        line-height: 1.3;
    }

    /* .preview-course */

    .preview-courses {
        padding: 15px;
        justify-content: space-between;
    }

    .preview-course {
        width: 45%;
    }

    .courses-headline a {
        font-size: 1rem;
    }

    .courses-headline h1 {
        font-size: 2.5rem;
    }



}

@media only screen and (max-width:1000px) {
    .introduction-texts {
        font-size: 2rem;
        width: 65%;
        left: 35%;
    }

    .nora-logo {
        left: 23%;
    }

    .container {
        width: 80%;
    }

    /* nav */

    .search-bar {
        width: 280px;
    }

    /* .preview-course */
    .courses-headline h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width:900px) {

    .home-background {
        height: 370px;
    }

    .nora-logo {
        width: 35%;
    }

    /* navbar */


    /* course-section */


    /* contact-section */
    .questions {
        font-size: 2rem;
    }

    .contact-div {
        font-size: 1.2rem;
        height: 380px;
    }

    .course-nav-link,
    .course-main,
    .basic-main-info>p {
        font-size: 0.9rem;
    }


    .content p {
        padding: 0.8rem 2rem;
    }



    /* basic-course */
    .basic-course-header-img {
        max-width: 45%;
    }

    /* nav */
    .nav-link {
        padding: 0.6rem 0.4rem 0.4rem 0.4rem;
    }

    .navbar {
        font-size: 1rem;
    }

    .search-bar input {
        width: 200px;
        margin: 0 0.5rem;
        padding: 0.5rem;
    }

    .search-bar label {
        padding: 0.4rem 0 0.4rem 0.4rem;
    }

    .search-bar {
        width: 240px;
    }

    .nav-img img {
        width: 100px;
    }

    /* about */
    .about-texts {
        padding: 4rem 0 2rem 0;
    }

    .about-text-info {
        font-size: 1.2rem;
    }

    .about-links a {
        font-size: 1.2rem;
    }

    .fields div {
        padding: 0.5rem;
        margin: 0.8rem;
    }



}

@media only screen and (max-width:800px) {

    .home-background {
        height: 350px;
    }

    .introduction-texts {
        font-size: 1.8rem;
    }

    .nora-logo {
        width: 37%;
    }

    /* contact-section */


    /* basic-course */


    .basic-course-title {
        font-size: 1.2rem;
    }

    .basic-course-owner,
    .basic-updated {
        font-size: 0.6rem;
    }

    .basic-course-intro,
    .basic-course-price {
        font-size: 0.8rem;
    }

    /* project-preview */

    .project-preview {
        padding: 1rem 0;
    }

    .project-preview h1 {
        font-size: 1.6rem;
    }

    /* nav */

    .search-bar {
        width: 200px;
    }

    .search-bar input {
        width: 160px;
    }

    /* .preview-course */

    .preview-course {
        padding: 15px;
    }

    /* about */

    .about-text-heading {
        font-size: 1.8rem;
    }

    .fields {
        grid-template-columns: repeat(2, 1fr);
    }

    .fields div {
        padding: 1rem;
        margin: 0.5rem 1rem;
    }
}

@media only screen and (max-width:700px) {

    .home-background {
        height: 300px;
    }

    .introduction-texts {
        font-size: 1.7rem;
    }

    .courses {
        width: 95%;
    }

    .nora-logo {
        left: 20%;
    }

    /* course-section */

    /* basic-course */
    .basic-course-header-img {
        max-width: 50%;
    }

    /* project-preview */
    .video {
        width: 48%;
    }

    .basic-course-title {
        line-height: 1.7;
    }

    /* course-nav */

    .course-navbar {
        display: none;
    }

    .course-navbar-dropdown {
        display: flex;
        flex-direction: column;
    }

    .course-nav-link {
        background-color: #f8f8f8;
        padding: 1rem;
        margin-bottom: 0.2rem;
    }

    /* nav */

    .navbar {
        font-size: 0.9rem;
    }

    .search-bar input {
        width: 140px;
    }

    .search-bar {
        width: 180px;
    }

    .nav {
        padding: 0 1rem;
    }

    .result-div {
        width: 300px;

    }

    /* preview-course */

    div.preview-course-heading {
        font-size: 17px;
    }

    .preview-course-details div:nth-child(2) {
        font-size: 14px;
    }

    .preview-course-details div:nth-child(3),
    .preview-course-details div:nth-child(4) {
        font-size: 12px;
    }

    .preview-course-details div:nth-child(4) span {
        font-size: 9px;
    }

    /* about */
    .about-links a {
        font-size: 1rem;
    }

}

@media only screen and (max-width:600px) {

    .home-background {
        height: 250px;
    }

    .introduction-texts {
        font-size: 1.3rem;
    }

    /* navbar */


    /* preview-course-section */

    .courses-headline a {
        font-size: 0.8rem;
    }

    .courses-headline>h1 {
        font-size: 1.3rem;
        padding: 1rem;
    }

    .preview-courses {
        display: grid;
    }

    .preview-course {
        padding: 25px;
        width: 70%;
        margin: 10px auto;
    }



    /* basic-course */
    .basic-course-header>div {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
    }

    .basic-course-header-img {
        margin: auto;
        max-width: 80%;
    }

    .basic-course-header-info {
        max-width: 80%;
        margin: auto;
    }

    .basic-main-info {
        width: 100%;
    }

    .basic-main-info h1 {
        text-align: center;
    }

    /* .project-preview */
    .videos {
        display: flex;
        flex-direction: column;
    }

    .video {
        width: 100%;
        padding: 0;
        background-color: #f8f8f8;
        margin: 0.5rem 0;
    }

    /* nav */

    .nav {
        flex-direction: column;
        font-size: 1rem;
        padding: 0;
    }

    .nav-title {
        padding: 0 2rem;
        width: 100%;
        justify-content: space-between;
        border-bottom: var(--color-primary) 1px solid;
    }

    .nav-links {
        padding: 0 2rem;
        width: 100%;
        justify-content: space-between;
        border-bottom: var(--color-primary) 1px solid;
    }

    .search-bar {
        width: 300px;
    }

    .search-bar input {
        width: 240px;
    }

    .search-bar label {
        padding: 0.4rem 0.6rem 0 0.6rem;
    }

    .result-div {
        width: 245px;
        font-size: 0.8rem;
        transform: translateX(45px);
    }

    /* about */

    .about-links a {
        padding: 0.7rem 1.3rem;
        font-size: 0.9rem;
        margin: 0.5rem;
    }


    /* contact */
    .contact-div {
        height: 350px;
    }

}



@media only screen and (max-width:500px) {

    .home-background {
        height: 220px;
    }

    .nora-logo {
        width: 35%;
    }

    /* preview-course-section */

    .preview-course {
        padding: 20px;
        width: 80%;
    }

    .courses-section {
        padding: 3rem 0;
    }



    /* contact-section */


    .questions {
        font-size: 1.5rem;
    }

    .contact-div {
        font-size: 1rem;
    }


    .contact-div {
        height: 280px;
    }

    .course-nav-link {
        font-size: 0.8rem;
        padding: 0.5rem 0;
    }


    /* basic-course */

    .basic-course-header-img {
        margin: auto;
        max-width: 90%;
    }

    .basic-course-header-info {
        max-width: 90%;
        margin: auto;
    }

    /* nav */
    .nav-title {
        padding: 0 1rem;
    }

    .nav-links {
        padding: 0 1rem;
    }

    .search-bar {
        width: 220px;
    }

    .result-div {
        width: 200px;
        font-size: 0.7rem;
        grid-template-columns: 33% 64%;
        transform: translateX(28px);
    }

    /* about */
    .about-links a {
        margin: 0.3rem;
        padding: 0.5rem 1rem;
    }

    .about-text-info {
        padding: 1rem;
    }

    .about-texts {
        padding: 3rem 0 2rem 0;
    }

    .fields {
        padding: 1.5rem 0 3rem 0;
    }

    .about-text-heading {
        font-size: 1.6rem;
    }

}

@media only screen and (max-width:420px) {

    .home-background {
        height: 170px;
    }

    .nora-logo {
        width: 32%;
    }

    .introduction-texts {
        font-size: 1rem;
    }

    /* navbar */


    /* course-section */


    /* contact-section */
    .contact-div {
        height: 280px;
    }

    /* basic-course-section */

    /* preview-course-section */
    .courses-headline>h1 {
        font-size: 1rem;
    }

    .preview-course {
        width: 90%;
    }

    div.preview-course-heading {
        font-size: 15px;
    }

    .preview-course-details div:nth-child(2) {
        font-size: 12px;
    }

    .preview-course-details div:nth-child(3),
    .preview-course-details div:nth-child(4) {
        font-size: 10px;
    }

    .preview-course-details div:nth-child(4) span {
        font-size: 8px;
    }

    /* about */

    .about-links a {
        font-size: 0.8rem;
    }


}

@media only screen and (max-width:380px) {
    .container {
        width: 90%;
    }

    /* basic */
    .project-preview h1 {
        font-size: 1.3rem;
    }

    .basic-main-info h1 {
        font-size: 1.3rem;
    }

    .basic-course-header {
        padding: 0;
    }


    .home-background {
        height: 150px;
    }

    /* course-section */


    .content>p {
        font-size: 0.8rem;
        padding: 1rem 1.2rem;

    }

    .preview-course {
        padding: 20px;
        width: 100%;
    }

    /* nav */
    .nav {
        font-size: 0.8rem;
    }

    .nav-img img {
        width: 90px;
    }

    .search-bar {
        width: 180px;
    }

    .search-bar label {
        padding: 0.4rem 0.3rem 0.3rem 0.3rem;
    }

    .search-bar input {
        height: 25px;
        width: 140px;
    }

    .result-div {
        width: 200px;
        transform: none;
    }

    /* about */

    .about-text-info {
        padding: 0.8rem;
    }

    .about-texts {
        padding: 2rem 0 1.5rem 0;
    }

    .fields {
        padding: 1rem 0 2rem 0;
    }

    .about-text-heading {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:300px) {

    .home-background {
        height: 150px;
    }

    /* course-section */


    /* contact-section */
    .contact-div {
        height: 230px;
    }

    .contact-div {
        font-size: 0.8rem;
    }

    .search-bar {
        width: 140px;
    }

    .search-bar input {
        width: 110px;
    }

    .nav-title {
        padding: 0;
    }
}